@font-face {
  font-family: "tanha";
  src: url("../font/Tanha.ttf") format("ttf"),
    url("../font/Tanha.woff") format("woff");
}

* {
  font-family: "tanha" !important;
  box-sizing: border-box;
}

body {
  background-color: #dfdfdf;
}

.step {
  width: 60vw;
  height: 60vh;
}

.-step-title {
  direction: rtl;
  text-align: center;
  text-align: center;
  width: 100%;
  height: 10%;
  margin: 0 0 10px 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.384);
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.37);
  color: #fff;
}

.-step-img {
  background: #fff;
  border: 5px solid rgba(0, 0, 0, 0.582);
  border-radius: 5px;
  width: 100%;
  height: 90%;
  overflow: hidden;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.37);
}

.-step-img .-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.-step-img .-img-2 {
  background-color: #fff;
  width: 100%;
  height: 50%;
}


.step-header{
  text-align: center;

}

.header{
  display: flex;
  align-items: flex-end;
  justify-content: center;
}